@{
    Layout = "~/Views/Shared/MenuLayout.cshtml";
}
@model gestion_ordre_mission.Models.OrdreMission
@using Microsoft.AspNetCore.Http
<!-- Custom fonts for this template -->
<link href="../Scripts/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet">

<!-- Custom styles for this template -->
<link href="../Content/css/sb-admin-2.min.css" rel="stylesheet">

<!-- Custom styles for this page -->
<link href="../Scripts/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

<!--link for form template-->
<title>Matrix Admin Lite Free Versions Template by WrapPixel</title>
<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16" href="../Content/assets/images/favicon.png">
<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="../Content/assets/libs/select2/dist/css/select2.min.css">
<link rel="stylesheet" type="text/css" href="../Content/assets/libs/jquery-minicolors/jquery.minicolors.css">
<link rel="stylesheet" type="text/css"
      href="../Content/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
<link rel="stylesheet" type="text/css" href="../Content/assets/libs/quill/dist/quill.snow.css">
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content" style="width:1230px">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>



                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">@Context.Session.GetString("nomeconomique")</span>
                            <img class="img-profile rounded-circle"
                                 src="../Content/img/undraw_profile.svg">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">

                            <a class="dropdown-item" href="/Parametrage/Index">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Paramétrage
                            </a>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Se deconnecter
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800" style="font-size:20px;">Service économique / Ordre des virements</h1>


                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-2 font-weight-bold text-primary"> Formulaire d'ajout des ordres des virements</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive" style="width:1020px">

                            @using (Html.BeginForm("GeneratePDF", "Virement", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <form class="form-horizontal" style="width:1220px">
                                    <div class="card-body">
                                        <h4 class="card-title">Personal Info</h4>

                                        <div class="form-group row">
                                            <label for="fname"
                                                   class="col-sm-2 text-end control-label col-form-label">Numéro :</label>
                                            <div class="col-sm-4">
                                                <input type="text" name="numero" class="form-control" />
                                            </div>
                                            <label for="fname"
                                                   class="col-sm-2 text-end control-label col-form-label">Num O.P:</label>
                                            <div class="col-sm-4">
                                                <input type="text" name="numop" class="form-control" />
                                            </div>

                                        </div>
                                        <div class="form-group row">
                                            <label for="fname"
                                                   class="col-sm-2 text-end control-label col-form-label">Banque :</label>
                                            <div class="col-sm-4">
                                                <input type="text" name="banque" class="form-control" />
                                            </div>
                                            <label for="fname"
                                                   class="col-sm-2 text-end control-label col-form-label">Compte :</label>
                                            <div class="col-sm-4">
                                                <input type="text" name="compte" class="form-control" />
                                            </div>

                                        </div>
                                        <div class="border-top">
                                            <div class="card-body">
                                                <input type="submit" value="Envoyer" class="btn btn-primary btn-lg" />

                                            </div>
                                        </div>
                                    </div>
                                </form>
                            }

                        </div>
                    </div>
                </div>
                <div>
                    <a href="/Virement/ListVirement">retourner à la liste</a>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->
    </div>
    <!-- End of Main Content -->


</div>
<!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Prêt à partir?
                </h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Sélectionnez "Déconnexion" ci-dessous si vous êtes prêt à mettre fin à votre session en cours.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
                <a class="btn btn-primary" href="/Home/login">Déconnexion</a>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript-->
<script src="../Scripts/vendor/jquery/jquery.min.js"></script>
<script src="../Scripts/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../Scripts/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="../Scripts/sb-admin-2.min.js"></script>



<!-- Scripts for form template-->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="../../assets/libs/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="../../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="../../assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="../../assets/extra-libs/sparkline/sparkline.js"></script>
<!--Wave Effects -->
<script src="../../dist/js/waves.js"></script>
<!--Menu sidebar -->
<script src="../../dist/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="../../dist/js/custom.min.js"></script>
<!-- This Page JS -->
<script src="../Content/assets/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
<script src="../Content/dist/js/pages/mask/mask.init.js"></script>
<script src="../Content/assets/libs/select2/dist/js/select2.full.min.js"></script>
<script src="../Content/assets/libs/select2/dist/js/select2.min.js"></script>
<script src="../Content/assets/libs/jquery-asColor/dist/jquery-asColor.min.js"></script>
<script src="../Content/assets/libs/jquery-asGradient/dist/jquery-asGradient.js"></script>
<script src="../Content/assets/libs/jquery-asColorPicker/dist/jquery-asColorPicker.min.js"></script>
<script src="../Content/assets/libs/jquery-minicolors/jquery.minicolors.min.js"></script>
<script src="../Content/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="../Content/assets/libs/quill/dist/quill.min.js"></script>
<script>
    //***********************************//
    // For select 2
    //***********************************//
    $(".select2").select2();

    /*colorpicker*/
    $('.demo').each(function () {
        //
        // Dear reader, it's actually very easy to initialize MiniColors. For example:
        //
        //  $(selector).minicolors();
        //
        // The way I've done it below is just for the demo, so don't get confused
        // by it. Also, data- attributes aren't supported at this time...they're
        // only used for this demo.
        //
        $(this).minicolors({
            control: $(this).attr('data-control') || 'hue',
            position: $(this).attr('data-position') || 'bottom left',

            change: function (value, opacity) {
                if (!value) return;
                if (opacity) value += ', ' + opacity;
                if (typeof console === 'object') {
                    console.log(value);
                }
            },
            theme: 'bootstrap'
        });

    });
    /*datwpicker*/
    jQuery('.mydatepicker').datepicker();
    jQuery('#datepicker-autoclose').datepicker({
        autoclose: true,
        todayHighlight: true
    });
    var quill = new Quill('#editor', {
        theme: 'snow'
    });

</script>

<!-- Bootstrap core JavaScript-->
<script src="../Scripts/vendor/jquery/jquery.min.js"></script>
<script src="../Scripts/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../Scripts/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="../Scripts/sb-admin-2.min.js"></script>


<!-- Bootstrap core JavaScript-->
<script src="../Scripts/vendor/jquery/jquery.min.js"></script>
<script src="../Scripts/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../Scripts/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="../Scripts/sb-admin-2.min.js"></script>




